body {
  background-color: #fafafa;
}

.table td, .table th {
  vertical-align: middle;
}

.caption-pre {
  background: #f8f9fa;
  padding: 1rem;
  border-radius: 0.5rem;
  white-space: pre-wrap;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
